<table
  class='table'
  role='presentation'
  style='
        width: 100%;
        border-collapse: collapse;
        border: 0;
        border-spacing: 0;
      '
>
  <tr class='header'>
    <td align='center'>
      <img
        src='https://firebasestorage.googleapis.com/v0/b/xik-frpt.appspot.com/o/portada%2FXIK_VerdeTransparente.png?alt=media&token=bcfd59c6-8d6a-43b7-808f-7bc876856f34'
        alt='XikDev'
      />
      <h1>XikDev</h1>
    </td>
  </tr>

  <tr class='body'>
    <td align='center'>
      <p>
        Bienvenido!
        <br />
        Por medio de este correo se comparte de manera automática la contraseña
        correspondiente para entrar al sistema de Nom-035.
        <br />
        Ingresa a [anexar link] o da click al siguiente botón para dirigirte a la
        página e iniciar sesión.
      </p>
    </td>
  </tr>

  <tr class='password'>
    <td align='center'>
      <div style='margin: 16px'>
        <p>Contraseña:</p>
        <p>{{password}}</p>
      </div>
      <a>Nom-035</a>
    </td>
  </tr>

  <tr class='footer'>
    <td align='center'>
      <p>
        <span>
          Este mensaje es generado de manera automática, favor de no responder
          directamente este correo, para realizar alguna consulta o tratar algún
          tema, enviar correo a xikdev@gmail.com
        </span>
      </p>
    </td>
  </tr>
</table>